asgiref
Django
django-browser-reload
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
pillow
python-decouple
requests
PyJWT
reportlab
sqlparse
tzdata
django-allauth
dj-rest-auth
cryptography
